{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content%}
{% block navbar %}
{% endblock %}
<br>

<div class="container row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Rus Kill Point</h1></div>
            <table class="table" id="members">
                <thead>
                    <tr>
                        <th width=10%>Name</th>
                        <th width=50%>Reason</th>
                        <th>Points</th>
                        <th>Add</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in members %}
                    <tr>
                        <td>
                            {{ m.name }}
                        </td>
                        <form id="m{{ m.index }}" method="post" action="/give_rkp">
                            <td>
                                <input id="reason" type="text" class="form-control" name="reason" value="" placeholder="Reason">
                            </td>
                            <td>
                                <input id="amount" type="text" class="form-control" name="amount" value="" placeholder="Amount">
                                <input id="hidden" type="hidden" value="{{ m.index }}" name="hidden">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">RKP</button>
                            </td>
                        </form>
                        <td>
                            {{ m.rkp }}
                        </td>
                        <td>
                            <form id="d{{ m.index }}" method="post" action="/delete_member">
                                <input id="del" type="hidden" name="del" value="{{ m.index }}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Add member</h1></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width=40%>Name</th>
                            <th width=40%>RKP</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <form method="post" action="/add_member">
                                <td>
                                    <input id="member" type="text" class="form-control" name="member" value="" placeholder="Name">
                                </td>
                                <td>
                                    <input id="rkp" type="text" class="form-control" name="rkp" value="" placeholder="RKP">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Add member</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>List tests</h1></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width=40%>Names</th>
                            <th width=40%>Reason</th>
                            <th>RKP</th>
                            <th>Give points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <form method="post" action="/give_list_rkp">
                                <td>
                                    <input id="names" type="text" class="form-control" name="names" value="" placeholder="Names">
                                </td>
                                <td>
                                    <input id="reason" type="text" class="form-control" name="reason" value="" placeholder="Reason">
                                </td>
                                <td>
                                    <input id="rkp" type="text" class="form-control" name="rkp" value="" placeholder="RKP">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Give points</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <br>
                <div style="margin-left:18px">
                    <form id="load_members" method="post" action="/load_members">
 	                <button type="submit" class="btn btn-primary">Load medlemmer</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
 {% endblock %}

<!-- The icon for the play button was created by Freepik from flaticon.com-->
<!-- The icon for the play_1 button was created by Yannick from flaticon.com-->
<!-- The icon for the play_2 button was created by Icon Works from flaticon.com-->
