{% extends "base.html" %}
{% block content%}
<div class="row">
    <div class="col-md-4">
        <FONT color="white">
            <div class="container">
                <div class="row" style="margin-top: 50px">
                    <div class="container col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1>
                                    Rus Kill Point
                                </h1>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Navn</th>
                                            <th>Sidste ændring</th>
                                            <th width=50%>Begrundelse</th>
                                            <th>RKP</th>
                                            <th>Position</th>
                                            <th>Mere</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tbody>
                                            {% for m in members %}
                                            <tr>
                                                <td> {{ m.name }} </td>
                                                <td> {{ m.change }} </td>
                                                <td> {{ m.latest }} </td>
                                                <td> {{ m.rkp }} </td>
                                                <td> {{ m.pos }} </td>
                                                <td>
                                                    <form id="m{{ m.index }}" method="post" action="/go_to">
                                                        <input id="name" type="hidden" name="name" value="{{ m.name }}">
                                                        <input id="id" type="hidden" name="id" value="{{ m.index }}">
                                                        <input id="position" type="hidden" name="position" value="{{ m.pos }}">
                                                        <button type="submit" class="btn btn-primary">Mere</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </FONT>
            </div>
    </div>
</div>
{% endblock %}
